[project]
	description = Source for static site: justinfx.com
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Justin Israel (justinfx)
[access "refs/for/refs/*"]
	read = group user/Justin Israel (justinfx)
	push = group user/Justin Israel (justinfx)
	label-Code-Review = -2..+2 group user/Justin Israel (justinfx)
	label-Verified = -1..+1 group user/Justin Israel (justinfx)
	rebase = group user/Justin Israel (justinfx)
	removeReviewer = group user/Justin Israel (justinfx)
	submit = group user/Justin Israel (justinfx)
[access "refs/heads/*"]
	read = group user/Justin Israel (justinfx)
	create = group user/Justin Israel (justinfx)
	push = +force group user/Justin Israel (justinfx)
	pushMerge = group user/Justin Israel (justinfx)
[access "refs/tags/*"]
	push = +force group user/Justin Israel (justinfx)
	pushTag = group user/Justin Israel (justinfx)
	pushSignedTag = group user/Justin Israel (justinfx)
