<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {{if .Params.repo}}
    {{if .Params.pkg}}
    <meta name="go-import" content="justinfx.com/{{.Params.pkg}} git https://gopkg.in/justinfx/{{.Params.repo}}">
    {{else}}
    <meta name="go-import" content="justinfx.com/{{.Params.repo}} git https://gopkg.in/justinfx/{{.Params.repo}}">   
    {{end}}
  {{end}}

  <title> {{ .Title }} {{if ne .Title .Site.Title}} &middot; {{ .Site.Title }} {{end}}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/poole.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/hyde.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font.pt-sans.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font.source-sans-pro.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fluidbox.min.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <!-- RSS -->
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <!-- JS -->
  <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/jquery.ba-throttle-debounce.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/imagesloaded.pkgd.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/jquery.fluidbox.min.js"></script>

  <!-- Images -->
  {{ with .Params.featured_image }}
  <meta property="og:image" content="{{ . }}"/>
  <link rel="image_src" href="{{ . }}"/>
  {{ end }}


  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Source Sans Pro']
      }
    });

    $(function () {
      $('a').fluidbox();
    })
  </script>

{{ template "_internal/google_analytics.html" . }}

</head>
